*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v20-latin-regular.woff2') format('woff2');
}
/* inter-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/inter-v20-latin-700.woff2') format('woff2');
}

/* Custom CSS Colors */
:root {
/*-----Primary-----*/
--Green-500: hsl(163, 72%, 41%);
--Red-500: hsl(356, 69%, 56%);

--Blue-600: hsl(208, 92%, 53%); /* Facebook */
--Blue-500: hsl(203, 89%, 53%); /* Twitter */
--instagram-gradient: linear-gradient(
    90deg,
    hsl(37, 97%, 70%),
    hsl(5, 77%, 71%),
    hsl(329, 70%, 58%)
  ); /* Instagram */
--Red-700: hsl(348, 97%, 39%); /* YouTube */

/*-----Dark Theme-----*/
--toggle-gradient: linear-gradient(
    90deg,
    hsl(210, 79%, 56%),
    hsl(146, 68%, 55%)
  );

/*-----Light Theme-----*/
--Gray-400: hsl(230, 22%, 74%); /* Toggle */

/*-----Light Theme-----*/
--White: hsl(0, 100%, 100%); /* BG */
--Blue-50: hsl(225, 100%, 98%); /* Top BG Pattern */
--Navy-50: hsl(227, 47%, 96%); /* Card BG */
--Gray-650: hsl(228, 12%, 44%); /* Text */
--Gray-950: hsl(230, 17%, 14%); /* Text */
}

/* General Typography */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--White);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--Gray-950);
}

.main__container {
  padding: 1.5rem;
}

/* Header Section */
.header__container {
  display: flex;
  flex-direction: column;

  position: relative;
}

.header__title {
  font-size: 1.5rem;

  margin-bottom: 0.5rem;
}

.header__divider {
  height: 1px;
  background-color: var(--line-color);
  margin: 1rem 0;
}

.header__subtitle,
.toggle__mode {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--Gray-650);
}

.toggle__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle__button {
  cursor: pointer;
  width: 50px;
  height: 25px;

  background: var(--Gray-400);
  border: none;
  border-radius: 15px;
  position: relative;
}

#toggle__circle {
  position: absolute;
  top: 2px;
  right: 3px;    
  width: 20px;
  height: 20px;

  background: var(--White);
  border-radius: 50%;
}

.toggle__button,
#toggle__circle {
  transition: background-color 0.25s ease, transform 0.25s ease;
}

.dark-theme #toggle__circle {
  transform: translateX(-24px);
}

/* Social Section */
.social__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 1.5rem;
  margin: 2.5rem 0 2.5rem 0;
}

.social__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;

  background-color: var(--Navy-50);
  border-radius: 0.35rem;
  width: 100%;

  position: relative;
  overflow: hidden;
}

.social__header {
  display: flex;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.social__username {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--Gray-650);
}

.social__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__number {
  font-size: 3rem;
}

.social__followers {
  color: var(--Gray-650);

  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;

  margin-bottom: 1.5rem;
}

.social__today {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--Green-500);
}

.social__today--negative {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--Red-500);
}

.svg__flex--container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.social__icon--today {
  margin-top: 0.5rem;
}

.social__icon--today-negative {
  margin-top: 0.5rem;
}


/* Overview Section */
.overview__title {
  color: var(--Gray-650);
  font-size: 1.65rem;
  margin-bottom: 1rem;
}

.overview__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.overview__content {
  background-color: var(--Navy-50);
  border-radius: 0.35rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.5rem;
  gap: 2rem;
}

.overview__header,
.overview__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview__subtitle {
  color: var(--Gray-650);
  font-weight: 700;
}

.overview__views {
  font-size: 2rem;
}

.overview__today {
  font-weight: 700;
  color: var(--Green-500);
}

.overview__today--negative {
  font-weight: 700;
  color: var(--Red-500);
}

.overview__today,
.overview__today--negative {
  font-size: 0.875rem;
}



/* Utility Classes */
.facebook__border--top {
  border-top: 4px solid var(--Blue-600);
}

.twitter__border--top {
  border-top: 4px solid var(--Blue-500);
}

.instagram__border--gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: var(--instagram-gradient);
}

.youtube__border--top {
  border-top: 4px solid var(--Red-700);
}

/* Dark Theme */
.dark-theme {
  --White: hsl(230, 17%, 14%); /* BG */
  --Blue-50: hsl(232, 19%, 15%); /* Top BG Pattern */
  --Navy-50: hsl(228, 28%, 20%); /* Card BG */
  --Gray-650: hsl(230, 22%, 74%); /* Text */
  --Gray-950: hsl(0, 100%, 100%); /* Text */

  --Gray-400: linear-gradient(
    90deg,
    hsl(210, 79%, 56%),
    hsl(146, 68%, 55%)
  ); /* Toggle */
}

/* Responsive Design */
@media only screen and (min-width: 992px) {
  .main__container {
    padding: 2rem 8rem;
  }

  .header__container {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .header__divider {
    display: none;
  }

  .toggle__container {
    justify-content: flex-end;
    gap: 1rem;

  }
}
